<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
		<meta content="yes" name="apple-mobile-web-app-capable" />
		<meta content="black" name="apple-mobile-web-app-status-bar-style" />
		<meta content="telephone=no" name="format-detection" />
		<title>待分配客户汇总</title>
		
		<link rel="stylesheet" href="../assets/css/page.css">
        <link rel="stylesheet" href="../assets/css/vant.css">

		<script src="../assets/js/vue.js"></script>
		<script src="../assets/js/vant.js"></script>
		<script src="../assets/js/tool.js"></script>
		<script src="../assets/js/axios.js"></script>
		<script src="../assets/js/request.js"></script>
		<script src="../assets/js/jquery-2.1.0.js"></script>
	</head>
	<style>
	</style>
	<body>
		<div class="container" id="app">
			<div style="position: fixed;top: 50%;left:50%;" v-if='loading'>
				<van-loading color="#1989fa"/>
			</div>
			<div class="head">
				<div class="head_title">待分配客户汇总</div>
				<div class="head_data">数据刷新时间：</div>
			</div>

			<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse;table-layout:fixed; ">
				
				<thead>
					<tr>
						<th class="blue">机构</th>
						<th class="yellow">待分配订单数</th>
						<th class="orange">待分配客户数</th>
					</tr>
					<tr class="row_total">
						<th>合计</th>
						<th>{{orderNum}}</th>
						<th>{{useNum}}</th>
					</tr>
				</thead>
				<tbody>
					<tr v-for='e in list'>
						<th>{{e.branchName}}</th>
						<th>{{e.followOrderNum}}</th>
						<th>{{e.followUserNum}}</th>
					</tr>
				</tbody>

			</table>
		</div>
		<script src="../assets/js/setRem.js"></script>
		<script src="../assets/js/page/17.js"></script>
	</body>
</html>
